#last_voted_picture
{
	max-width: 160px;
	max-height: 160px;
}

#top_picture
{
	max-width: 200px;
	max-height: 100px;
}

#last_voted_text
{
	text-align: center;
	
}

#mainPic
{
	margin:0 auto; 
	display: block; 
/*	max-width: 600px; */
	max-height: 390px;"
}

#detailPic
{
	margin:0 auto; 
	display: block; 
}