

<% content_for :share_box do %>

<% end %>

<% content_for :stats_box do %>
	<div class='stats_box' style='margin-left: 15px;'>
		<%= @stats_num_of_pics %> Schlampen<br />
		<%= @stats_num_of_votes %> Votes<br />
	</div>
<% end %>


