<% content_for :head do %>
  <title><%= site_title %> - Top 10 Schlampen!</title>
	<meta name="description" content="Auf Schlampen.be gibt es Bilder von heissen Girls, Babes und Schlampen zu bewerten!">
	<meta name="keywords" content="schlampe, schlampen, flittchen, geile, geile schlampen, geile flittchen, babes, partybabes">
	<meta name="copyright" content="Vito Media International - 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010">
	<meta name="author" content="Don Vito">
	<meta name="email" content="info@schlampen.be">
	<meta name="Charset" content="UTF-8">
<% end %>

<div id="picWrapper" class="picBorder" >
	<center>
	<table border="0">

	<% for picture in @top_pictures  %>
	<tr>
		<td align="center">
			<a href="<%=  mainview_url(:id => picture.id) %>"><img class="picBorder" id="top_picture" src="<%= picture.hosting_filename %>" /></a>
		</td>
		<td align="center">
			<%= sprintf("∅ %.2f / %i votes", picture.overall_rating,picture.number_of_votes) %>
		</td>
	</tr>
	<% end %>

	</table>
</center>
</div>

