<%= render :partial => "shared/last_voted_box" %>

<div class="leftBox">
	<h2>Share!</h2>
	<% if (@picture) %>
		<%= render :partial => "shared/share_box", 
			   	:locals => {:url_to_share => mainview_url (:id => @picture.id), :title => "Was ne geile Schlampe: " } 
				%>
		<% else %>
				<%= render :partial => "shared/share_box", 
			   	:locals => {:url_to_share => mainview_url, :title=> "Geile Schlampen: "} 
				%>
		<% end %>
		
		<br style="clear:both" />

		<h2>Stats</h2>
		<%= render :partial => "shared/stats_box" %>

	</div>						
