<div id="picWrapper" class="picBorder" style="padding-top: 10px; padding-left: 10px; min-height: 400px;">


<h1>Kontakt</h1>

<p>Dieses Projekt wird betrieben von:<br/><br/>
Vito Media International<br/>
Postbox 123<br/>
xyz-1 blalal wellington<br/>
New Zealand<br/>
</p>

<p>Mail-Kontakt:<br/><br/>
	Mail: info@vmi.com
</p>

</div>