<div id="picWrapper" class="picBorder" style="padding-top: 10px; padding-left: 10px; min-height: 400px;">


<h1>Partner</h1>
<p>Eine Liste unserer treuer Partnerseiten:</p>

<ul>
	<li><a href="http://www.fettemama.org">fettemama.org</a></li>
</ul>

</div>